:root {
    --monospace: "Lucida Console", "Consoloas", monospace;
    --sans-serif: Calibri, "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
    --font-size-header: clamp(1.5rem, 1rem + 1vw, 3rem);
    --font-size-main: clamp(1rem, 1rem + 1vw, 2rem);
    --font-size-footer: clamp(0.75rem, 1rem + 1vw, 1rem);
    --bg: honeydew;
    --transition: linear 100ms;
    --zero: 0;
}
.global-CENTER {
    text-align: center;
}
.global-LIST {
    list-style-position: inside;
    padding: var(--zero);
}
* {
    box-sizing: border-box;
    margin: 0;
}
#root {
    font-family: var(--sans-serif);
    background-color: var(--bg);
    min-height: 100vh;

    display: grid;
    justify-content: center;
    row-gap: 2rem;
}
.Header {
    font-size: inherit;
    text-align: center;
    align-self: center;
    padding-block: 0.5em;
}
.Footer {
    font-size: var(--font-size-footer);
    text-align: center;
    align-self: center;
}
.TextInput {
    width: 100%;
    padding: 1em;
    font-family: var(--monospace);
    border-radius: var(--zero);
    border: medium solid wheat;
    text-align: center;
}
.TextInput:focus {
    outline: none;
    border-color: black;
}
.TextInput:disabled {
    border-color: gray;
}
.Button {
    cursor: pointer;
    width: 100%;
    padding-block: 1em;
    font-weight: bold;
    border: medium solid;
    background-color: transparent;
    transition: background-color var(--transition);
}
.Button:hover {
    background-color: lemonchiffon;
}
.Window {
    font-size: var(--font-size-main);
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0 lightskyblue;
    overflow: hidden;
}
/* ------------- APP h1 ------------- */
#root > .Header:first-child {
    font-size: var(--font-size-header);
}
/* ------------- Request ------------- */
.Request > * {
    font-size: 0.75em;
}
.Request > .Header:first-child {
    font-size: 1em;
}
.Request > .Button {
    border: none;
}
/* ------------- Response ------------- */
.Response > * {
    font-size: 0.75em;
}
.Response > .Header:first-child {
    font-size: 1em;
    border-bottom: medium solid lightgray;
}
.Response > .json-container {
    white-space: pre-wrap;
    font-family: var(--monospace);
    padding-inline: 1em;
    line-height: 2;
}
/* tablet width and larger */
@media screen and (min-width: 768px) {
    #root {
        grid-template-columns: 60%;
    }
}
